@model IEnumerable<PropNest.Models.MaintenanceRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p class="create-new-link">
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Unit Number
            </th>
            <th>
                Staff
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLogged)
            </th>
            <th>
                Age (days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(item.PropertyUnit?.UnitNumber ?? "(none)")
            </td>
            <td>
                @(item.Staff?.FullName ?? "(unassigned)")
            </td>
            <td>
                @Html.DisplayFor(model => item.Category)
            </td>
            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
            <td>
                @Html.DisplayFor(model => item.DateLogged)
            </td>
            <td>
                @( (DateTime.Now - item.DateLogged).Days )
            </td>
            <td>
                @Html.DisplayFor(model => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RequestID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RequestID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RequestID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
