@model IEnumerable<PropNest.Models.Tenant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNIC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmergencyContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(model => item.CNIC)
            </td>
            <td>
                @Html.DisplayFor(model => item.Email)
            </td>
            <td>
                @Html.DisplayFor(model => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.EmergencyContact)
            </td>
            <td>
                @Html.DisplayFor(model => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TenantID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TenantID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TenantID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
